*
{
	margin: 0;
	padding: 0;
}
.wow
{
	max-width: 1140px;
	margin: 0 auto;
}
body
{
	font-family: tahoma;
}
.hero
{
	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
    transform: translate(-50%,50%);	
}
header
{
	background-image: /*linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7))*/url(cover.jpg);
	height: 100vh;
	background-position: center;
	background-size: cover;
}
.hero h1
{
	color: white;
	font-family: tahoma;
}
.main-nav
{
	float:right;
	list-style: none;
	margin-top: 60px;


}
.main-nav li
{
	display: inline-block;
	margin-left: 20px;

}
.main-nav li a
{
	color: white;
	font-family: tahoma;
	text-decoration: none;
	font-size: 110%;
	font-weight: bold;

}
.main-nav  li a:hover
{
	color: #e67e22;
	border-bottom: 2px solid #e67e22;
	transition: all 0.2s ease-in;
	padding: 15px 0;
}
.logoimg img
{
	height: 100px;
	margin-left:50px; 
	float: left;
	margin-top: 20px;
}
.bitn
{
	border: 2px solid #e67e22;
	padding: 10px 30px;
	text-decoration: none;
	color: #e67e22;
	border-radius: 12px;
	margin-right: 20px;

}
.botton-awesome
{
	margin-top: 40px;
	font-family: tahoma;
}
.bitn-half
{
	background-color: #e67e22;
	color: white;
}
.bitn-full:hover
{
	background-color: #e67e22;
	color: white;
	transition: all 0.2s ease-in;
}
.img2016
{
	position: relative;
	top: 25%;
	left: -15%;
}
.copy
{
	width: 70%;
	margin-left: 15%;
	margin-bottom: 20px;
}
h3:after
{
	width: 100px;
	height: 2px;
	background-color: #e67e22;
	display: block;
	content: " ";
	margin:0 auto;
	margin-top: 30px;
}
.features h3
{
	margin-top: 80px;
	margin-bottom: 30px;
}
.arranging
{
	text-align: justify;
}

.features i
{
	font-size: 30px;
	color: #e67e22;
	margin-left: 35%;
}

.features h4
{
	margin-left:65px;
}

/* middle photos */

.meal-showcase
{
	list-style: none;
	width: 100%;
}

.meal-showcase li
{
	display: block;
	width: 25%;
	float: left;
}

.meal-photo
{
	width: 100%;
	margin: 0;
	overflow: hidden;
}

.meal-photo img
{
	width: 100%;
	height: 200px;
	transform: scale(1.10);
	transition: all 0.5s;
}

.meal-photo img:hover
{
	transform: scale(1.00);
}

.meal
{
	margin-top: 60px;
}

.cities
{
	margin-top: 100px;
}

.cities img
{
	width: 100%;
	margin-top: 50px;
	height: 175px;
}




.testimonials
{
	margin-top: 100px;
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(testi5.jpg);
	background-position: center;
	background-size: cover;
	padding-top: 80px;
	padding-bottom: 60px;
	color: white;
	background-attachment: fixed;

}

.testimonials p
{
	color: white;
	line-height: 25px;
	text-align: justify;
	margin-top: 40px;
	height: 180px;
}

.testimonials cite img
{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 20px;
}


.footcolor
{
	margin-top: 50px;
	background-color: #979797;
	height: 50px;
}
.footco
{
	margin-top: 20px;
	float: left;
	height: 100px;
	
}

.footco img
{
	height: 40px;
	margin-left: 100px;
}
.footco p
{
	margin-left: 20px;
	color: #979797;
}

.iconic1
{
	position: relative;
	float:left;
	list-style: none;
	margin-top: -40px;
	margin-left: 800px;
	margin-bottom: 50px;
}

.iconic1 li
{
	display: inline-block;
	margin-left: 20px;

}

.iconic1 li i
{
	font-size: 30px;

}
